<h1>All restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
      <%= restaurant.address %>
      <%= restaurant.phone_number %>
      <%= restaurant.category %>
    </li>
  <% end %>
</ul>
